<h1>FAKER</h1>

<table class="fakerTable">
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td><img src={{this.image}}></td>        
        </tr>
    {{/each}}
</table>